#naglowek {
    background-color: #F2622E;
    font-family: luminary;
    height: 20%;
}

a {
    color:#00060D;
}
 

#tresc {
    margin-top: 10%;
    margin-bottom: 25%;
    background-color: #F2622E;
    font-family: didot;
    font-size: 40px;
    font-style: oblique;
    color:#00060D;

}
body {
    background-color: #8C2C23;
}

#stopka{
    background-color: #035AA6;
    
    
}

.log{
    margin: 10px;
    padding: 10px;
}
#oknolog{
    margin-top: 10%;
    margin-bottom: 25%;
    border-style:ridge;
    border-width: 5px;
    border-color: #035AA6;
    background-color: #F2622E;

    
}
.guzik {
    
    width: 200px;
}
.lista {
    list-style: none;
    font-size: 25px;
    padding: 20px;
}
.slowa {
   padding-right: 5%;
   padding-left: 5%;
   font-weight: 500;
}
.odstep {
    margin-top: 5%;
    margin-bottom: 25%;
    
}

